body{
	background: black;
	margin: 0px;
	padding:0px;
}
@font-face {
	font-family: neoteric;
	src: url(../fonts/NEOTERICbold.ttf);

}
#wrap{
	width: 90%;
	padding: 10px;
	height: 850px;
	margin: 0 auto;
	background: rgb(76,75,84);
	color: white;
	box-shadow: 10px 10px 10px white;
}
#footer{
	width: 50%;
	height:60px;
	/*border:solid 1px white;*/
	color: white;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}
#footer img{
	margin: 5px;
}
#banner{
	box-shadow: 10px 10px 10px white;
	width: 90%;
	height:75px;
	margin: 0 auto;
	background: rgb(76,75,84);
	color: white;
	font-size: 30pt;
	font-weight: bolder;
	font-style: italic;
	text-align: left;
	padding: 10px;
}
#title{
	color: white;
	font-style: italic;
	font-size: 15pt;
	margin-left: 5px;
}
nav{
	float: right;
	/*border:solid 1px white;*/
	width: 50%;
	/*margin: 0 auto;*/
	padding: 0px;

}
nav ul{
	/*border:solid 1px white;*/
	margin: 0px;
	padding: 0px;
	text-align: center;

}
nav ul li{
	/*border: solid 1px white;*/
	/*margin: 0 auto;*/
	list-style: none;
	display: inline-block;
	color: (27,30,171,1);
	font-size: 15pt;
	margin: 5px;
	text-align: center;

}
nav ul li:hover{
	color:yellow;
	/*background: white;*/
	cursor: pointer;
}
nav ul a{
	color: white;
}
.pics {  
	box-shadow: 10px 10px 10px white;
	background: black;
    height:  570px;  
    width:   485px;  
    padding: 0px;  
    /*margin:  0 auto; */
    /*border:solid 1px white;*/

    } 
 
.pics img {  
    padding: 10px; 
    margin-left: 7px; 
    /*border:  2px solid white;  */
    /*background-color:rgba(77,70,127,1); */
    width:  450px; 
    height: 550px; 
}
#slideshow{
	width: 700px;
	height: 600px;
	/*margin: 0 auto;*/
	/*border:solid 1px white;*/
}
#landingContent{
	color: white; 
	font-size: 15pt;
	font-style: italic;
	font-weight: bolder;
	font-family: neoteric;
	float: left;
	padding: 10px;
	display: none;
}
#floatingBox{
	width: 45%;
	height:500px;
	padding: 5px;
	/*border:solid 1px white;*/
	float: right;
	font-family: neoteric;
	font-weight: bolder;
	font-size: 12pt;
}






